<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Medicate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}"
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <div class="container">

    <form style="width: 50%;margin: 0 auto;" role="form" method="post" action="{{ url_for('docRegister') }}">
      <h2>Doctor Registration</h2></br><p>To register as a patient, click <a href="{{ url_for('registration') }}">here</a>.</p><p></br><p>{% print errorVar %}</p></br>
      <p class="lead">Full Name:</p> <textarea name="name" maxlength="100" rows="1" type="text" placeholder="Full Name" class="form-control"></textarea>
      </br></br>
      <p class="lead">Email Address:</p><input  name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
      </br></br>
      <p class="lead">Desired Password:</p> <input name="password" type="password" class="form-control" placeholder="Password" required>
      </br></br>
      <p class="lead">Specialisation:</p> <input name="specialisation" type="text" class="form-control" placeholder="Specialisation">
      </br></br>
      <p class="lead">Contact No:</p> <input name="contact" maxlength="10" type="number" placeholder="10-digit mobile number" class="form-control">
      </br></br>
      <button class="btn btn-primary " type="submit">Register</button>
    </form>

  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  </body>
  </html>
