<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Medicate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body style="background-color:#eee">

<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{{ url_for('index') }}">Medicate</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('trend') }}">Trends</a></li>
              <li><a href="{{ url_for('newEntry') }}">Insert Entry</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
  
  </div>

  <div class="container">

    <form style="width: 50%;margin: 0 auto;" role="form" method="post" action="{{ url_for('submitEntry') }}">
      </br></br>
      <p class="lead">Doctor's Email:</p><input  name="email" type="email" class="form-control" placeholder="Email address" required autofocus>
      </br></br>
      <p class="lead">Start Date</p>  <input name="startDate" type="date" class="form-control" placeholder="YYYY-MM-DD">
      </br></br>
      <p class="lead">End Date</p>  <input name="endDate" type="date" class="form-control" placeholder="YYYY-MM-DD">
      </br></br>
      <p class="lead">Disease:</p> <input name="disease" type="text" placeholder="Name of the disease" class="form-control">
      </br></br>
      <p class="lead">Symptoms:</p> <input name="symptoms" type="text" placeholder="enter all symptoms separated by a ',' " class="form-control">
      </br></br>
      <p class="lead">Drugs:</p> <input name="drugs" type="text" placeholder="Enter all drugs separated by a ',' " class="form-control">
      </br></br>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>

  </div> <!-- /container -->

  <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>