<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Medicate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}"
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

  <div class="container">

    <form style="width: 50%;margin: 0 auto;" method="post" action="{{ url_for('register') }}">
      <h2>New Registration</h2></br>
      <p class="lead">Full Name:</p> <textarea name="name" maxlength="100" rows="1" type="text" class="form-control"></textarea>
      </br></br>
      <p class="lead">Email Address:</p> <textarea name="email" maxlength="100" rows="1" type="text" class="form-control"></textarea>
      </br></br>
      <p class="lead">Desired Password:</p> <textarea name="password" maxlength="100" rows="1" type="password" class="form-control"></textarea>
      </br></br>
      <p class="lead">Date of Birth:</p>  <textarea name="dob" maxlength="8" rows="1" type="text" class="form-control" placeholder="dd/mm/yy"></textarea>
      </br></br>
      <p class="lead">Address:</p> <textarea name="address" maxlength="5000" rows="10" type="text" class="form-control"></textarea>
      </br></br>
      <p class="lead">Contact No:</p> <textarea name="contact" maxlength="10" rows="1" type="text" class="form-control"></textarea>
      </br></br>
      <p class="lead">Blood group:</p>
      <div class="radio">
      <label>
       <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
       <p>Don't know</p>
       </label>
      </div>
      <div class="radio">
      <label>
       <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
       <p>O+</p>
       </label>
      </div>
      <div class="radio">
      <label>
       <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
       <p>O-</p>
       </label>
      </div>
      </br></br>
      <button class="btn btn-primary " type="submit">Register</button>
    </form>

  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  </body>
  </html>
